.git
.git*
/data
.bladeformatterrc
.editorconfig
.env.example
.prettierrc
.env
*.log
public/hot
public/cache/*
storage/app/*
storage/debugbar/*
storage/framework/cache/*
storage/framework/session/*
storage/framework/views/*
logs/*
/tests/*
vendor
node_modules
Makefile
cache/*
/app/dist