.table {
  width: 100%;
  table {
    width: 100%;
    border: 1px solid var(--boder-color);
    border-collapse: collapse;
    font-size: 0.9em;
    caption {
      padding: 5px;
      font-weight: 600;
      .data {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  thead {
    background-color: var(--secondary);
  }
  tr {
    border: 1px solid var(--boder-color);
  }

  tr:nth-child(even) {
    background-color: var(--secondary);
  }

  td {
    border: 1px solid var(--boder-color);
    padding: 5px;
  }
  th {
    border: 1px solid var(--boder-color);
    text-align: left;
    padding: 5px;
  }

  .permits {
    display: flex;
    gap: 5px;
    & > div {
      display: flex;
      align-items: center;
      gap: 5px;
      .material-icons {
        font-size: 1.2em;
      }
    }
  }

  .buttons {
    display: flex;
    gap: 2px;
  }
}
